@using Microsoft.AspNetCore.Identity
@inject SignInManager<A2User> SignInManager
@inject UserManager<A2User> UserManager

<ul class="flex space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
    <li>
        <span class="text-gray-100">Hello @User.Identity?.Name!</span>
    </li>
    <li>
        <form asp-controller="Auth" asp-action="Logout">
            <button type="submit" class="text-gray-200 hover:text-blue-500 focus:outline-none">Logout</button>
        </form>
    </li>
    }
    else
    {
    <li>
        <a class="text-gray-200 transition-all duration-200 rounded-full" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
    <li>
        <a class="text-black border bg-gray-100 px-5 py-1 transition-all duration-200 rounded-full" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
    }
</ul>
