@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1 class="text-3xl font-semibold mb-4">@ViewData["Title"]</h1>

<p class="text-lg text-gray-800">
    Welcome to Shoppers. These terms and conditions outline the rules and regulations for the use of our website.
</p>
<p class="text-gray-500">
    By accessing this website, we assume you accept these terms and conditions. Do not continue to use Shoppers if you do not agree to all of the terms and conditions stated on this page.
</p>