@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 text-center mt-5">Welcome to Our Website</h1>
    <p class="lead text-center">Explore our products and services, and get in touch with us for more information.</p>
    
    <img class="w-50 p-5 m-auto d-flex" src="https://thenexgenv.com/assets/images/hero-light.svg" />
    
</div>