@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <h1 class="display-4 text-center mt-5">@ViewData["Title"]</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="https://www.lodgify.com/wp-content/uploads/2022/02/Resorts.svg" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">
                        HOTEL & RESORT MANAGEMENT SOFTWARE</h5>
                    <p class="card-text">Our Hospitality Management Solution plays a vital role in the flawless working of entire operations and management.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://www.chetu.com/img/food-and-beverage/food-and-beverage-main/content-image/food-and-beverage-distribution-software.png" class="card-img-top p-2" alt="Product 2">
                <div class="card-body">
                    <h5 class="card-title">RESTAURANT MANAGEMENT SOFTWARE
                    </h5>
                    <p class="card-text">(CRM) is a robust restaurant POS software system integrated with a complete business accounting & inventory management software package with production journal.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://www.zoho.com/inventory/images/common-dashboard-1x.png" class="card-img-top" alt="Product 3">
                <div class="card-body">
                    <h5 class="card-title">ACCOUNT & INVENTORY MANAGEMENT</h5>
                    <p class="card-text">“Software with Ultimately The Best GUI”
                        DASHBOARD for overall information of inventory
                        Key board friendly navigation</p>
                </div>
            </div>
        </div>
    </div>
</div>